<%- include("./partials/header.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/highlight-image.css" />

    <main>
        <div id="contrasted-image-container">
            <img src="/contrasted/<%= contrastedImageName %>" id="contrasted-image">
        </div>
        <div id="mask-buttons-container">
            <button onclick="handleButtonClick('red')">Vermelha</button>
            <button onclick="handleButtonClick('green')">Verde</button>
            <button onclick="handleButtonClick('blue')">Azul</button>
        </div>
        <div style="display: none;" id="result-buttons-container">
            <a href="/download-highlighted-image/<%= contrastedImageName %>">
                <button>Download</button>
            </a>
            <a href="/vectorize-image/<%= contrastedImageName %>">
                <button>Vetorizar</button>
            </a>
        </div>
    </main>

    <script>
        async function handleButtonClick(color) {
            document.getElementById("mask-buttons-container").style.display = "none";
            document.getElementById("result-buttons-container").style.display = "none";

            try {
                const data = { 
                    contrastedImageName: '<%= contrastedImageName %>',
                    color: `${color}` 
                };

                const response = await fetch('/add-mask-to-image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const imageBlob = await response.blob();
                const imageUrl = URL.createObjectURL(imageBlob);
                const imgElement = document.getElementById('contrasted-image');
                imgElement.src = imageUrl;

                document.getElementById("mask-buttons-container").style.display = "flex";
                document.getElementById("result-buttons-container").style.display = "flex";
            } catch (error) {
                console.error("Ocorreu um erro!\n" + error);
            }
        }
    </script>
    
<%- include("./partials/footer.ejs"); %>