<%- include("./partials/header.ejs"); %>

    <link rel="stylesheet" type="text/css" href="/css/vectorize-image.css" />

    <div id="highlighted-image-container">
        <img src="/highlighted/<%= highlightedImageName %>" id="highlighted-image">
    </div>
    <div style="display: none;" id="svg-container"></div>
    <div id="buttons-container">
        <button id="vectorize-button">Vetorizar</button>
        <div style="display: none;" id="result-buttons-container">
            <a href="/download-vectorized-image/<%= highlightedImageName %>">
                <button id="download-button">Download</button>
            </a>
            <a href="/">
                <button>Voltar para a página inicial</button>
            </a>
        </div>
    </div>
    
    <script>
        const vectorizeButton = document.getElementById("vectorize-button");

        vectorizeButton.onclick = async function() {
            document.getElementById("buttons-container").style.display = "none";

            try {
                const data = { 
                    highlightedImageName: '<%= highlightedImageName %>'
                };

                const response = await fetch("/turn-image-into-vector", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

                const svgText = await response.text();

                const parser = new DOMParser();
                const svgDoc = parser.parseFromString(svgText, "image/svg+xml");
                const svgElement = svgDoc.documentElement;

                const svgContainer = document.getElementById("svg-container");
                svgContainer.innerHTML = "";
                svgContainer.appendChild(svgElement);

                document.getElementById("vectorize-button").style.display = "none";

                document.getElementById("buttons-container").style.display = "flex";
                document.getElementById("result-buttons-container").style.display = "flex";

                document.getElementById("highlighted-image-container").style.display = "none";
                document.getElementById("svg-container").style.display = "block";

            } catch (error) {
                console.log("Ocorreu um erro!\n" + error);
            }
        }
    </script>


<%- include("./partials/footer.ejs"); %>